<h1><%= @question.title %></h1>
<h4>Written by: <%= @question.asker.name %></h4>

<p><%= @question.body %></p>

<h2>Answers</h2>

<ul>
  <% @answers.each do |answer| %>
  <li><%= answer.body %><br>
    <a href="/users/<%= answer.responder.id %>"><%= answer.responder.name %></a><br>
    <%= button_to "Upvote", "/answers/#{answer.id}/votes/1", method: 'post' %>
    <%= button_to "Downvote", "/answers/#{answer.id}/votes/0", method: 'post' %><br><br></li>
  <% end %>
</ul>
<% if current_user %>
  <%= form_for :answer, url: question_answers_path(@question) do |f| %>
    <%= f.text_area(:body, rows: 10, cols: 30) %>
    <%= f.submit %>
  <% end %>
<% end %>
