<% if flash[:notice] %>
<%= render 'users/signup_notification' %>
<% end %>


<%= form_tag( '/login', method: 'post' ) do  %>
  <%= label_tag(:email, "Email: ") %>
  <%= text_field_tag(:email) %>
  <%= label_tag(:password, "Password: ") %>
  <%= password_field_tag(:password) %>
  <%= submit_tag("Submit") %>
<% end %>

<% if flash[:notice] %>
  <h4>Don't have an account? <%= link_to 'Sign up', new_user_path %></h4>
<% end %>
