<div class="content-div">

<%= form_for(@user, :url => login_path, :html => {:method => :post}) do |f| %>

	<%= f.label :email, 'Email'%>
	<%= f.email_field :email, :autofocus => true  %>

	<%= f.label :password, 'Password' %>
	<%= f.password_field :password %>

	<%= f.submit "Login"%>
<% end %>

<% if flash[:error] %>
  <h4>Don't have an account? <%= link_to 'Sign up', new_user_path %></h4>
<% end %>
</div>
