<div class="content-div">
  <%= form_for(@user) do |f| %>
    <%= f.label :name, :autofocus => true%>
    <%= f.text_field :name %>

    <%= f.label :email %>
    <%= f.email_field :email %>

    <%= f.label :about %>
    <%= f.text_area(:about,  rows: 10, cols: 30) %>

    <%= f.submit %>

  <% end %>
</div>

