<!DOCTYPE html>
<html>
<head>
  <title>DBCForum</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<nav>
<%= link_to 'DBCForum', root_path %>
<% if session[:user_id] %>
  <%= link_to 'Log out', logout_path %>
<% else %>
  <%= link_to 'Log in', login_path %>
  <%= link_to 'Sign up', new_user_path %>
<% end %>

</nav>

<% if flash[:notice] %>
<%= render 'signup_notification' %>
<% end %>
<%= yield %>

</body>
</html>
