<!DOCTYPE html>
<html>
<head>
  <title>DBCForum</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<% if flash[:notice] %>
<%= render 'signup_notification' %>
<% end %>
<%= yield %>

</body>
</html>
